In [3]:
import pandas as pd

#read the files
dfwale_returns=pd.read_csv("Starter_Code/Resources/whale_returns.csv")
dfalgo_returns=pd.read_csv("Starter_Code/Resources/algo_returns.csv")
dfsp_tsx_history=pd.read_csv("Starter_Code/Resources/sp_tsx_history.csv")

print("wale_returns data is",dfwale_returns.shape)
print("algo_returns data is", dfalgo_returns.shape)
print("sp_tsx_history data is",dfsp_tsx_history.shape)

#Identify and remove null values
df_wale_returns=dfwale_returns.dropna()
print("wale_returns clean data is",df_wale_returns.shape)
df_algo_returns=dfalgo_returns.dropna()
print("algo_returns clean data is", df_algo_returns.shape)
df_sp_tsx_history=dfsp_tsx_history.dropna()
print("sp_tsx_history clean data is",df_sp_tsx_history.shape)

wale_returns data is (1060, 5)
algo_returns data is (1241, 3)
sp_tsx_history data is (1818, 2)
wale_returns clean data is (1059, 5)
algo_returns clean data is (1235, 3)
sp_tsx_history clean data is (1818, 2)

In [50]:
#Remove any non-numeric values (e.g., dollar signs) from the DataFrames and convert the data types 
df_sp_tsx_history.dtypes
df_sp_tsx_history
# df_sp_tsx_history.replace(","," ")
# print(df_sp_tsx_history)
# object(df_sp_tsx_history['Close']).astype('float')
# df_sp_tsx_history.dtypes

             Date      Close
0      1-Oct-2012  12,370.19
1      2-Oct-2012  12,391.23
2      3-Oct-2012  12,359.47
3      4-Oct-2012  12,447.68
4      5-Oct-2012  12,418.99
...           ...        ...
1813  20-Dec-2019  17,118.44
1814  23-Dec-2019  17,128.71
1815  24-Dec-2019  17,180.15
1816  27-Dec-2019  17,168.21
1817  30-Dec-2019  17,098.56

[1818 rows x 2 columns]

In [5]:
df_algo_returns.dtypes

Date       object
Algo 1    float64
Algo 2    float64
dtype: object